<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet">
</head>
<body>
    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">Pasta</a>
            <ul class="nav">
                <li>@Html.ActionLink("Create New", "Create", "Pastie")</li>
            </ul>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
