@model Basta.Models.Pastie

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Layout.cshtml";
}
            <h1>#@Model.Id</h1>

            <fieldset>
                <pre><code>@Html.DisplayFor(model => model.Content)</code></pre>

                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Creation)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Creation)
                </div>

                <div class="display-label">
                     @Html.DisplayNameFor(model => model.Expiration)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Expiration)
                </div>
            </fieldset>
