@model FrontEnd.Models.Pastie

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Layout.cshtml";
}

<h2>Detail</h2>

<fieldset>
    <legend># @Model.Id</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
    </div>
    <pre>
        @Html.DisplayFor(model => model.Content)
    </pre>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Creation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Creation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Expiration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Expiration)
    </div>
</fieldset>
<p>
    @Html.ActionLink("View", "Details", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
